@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-xs-12" style="height:80px; width:100%"></div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10" style="width: 75%; background-color: rgba(49, 50, 49, 0.97);margin-right:0">
        <h1>Profile</h1>
        <ul class="nav nav-tabs">
           
        </ul>
        <div class="container">
            <div class="tab-content">
                
                <div class="row">
                   
                    <div class="col-xs-12">
                        <table style="margin-top: 10px; width: 86%; background-color: black">
                            <thead> </thead>
                     
                            <tbody id="pro"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:100px;width:100%">

</div>

