@{
    ViewBag.Title = "MedicalList";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top " style="margin-top:65px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Medical Stores</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNav">
              
                <ul class="nav navbar-nav navbar-right" style="margin-right: 3%; background-color: rgb(35, 35, 35)">
                    <li><a class="md-trigger" data-modal="modal-eo" id="button3" href="#" onmouseover="    this.style.color = ' #34a58e'" onmouseout="    this.style.color = ' whitesmoke'" style=" font-family: Gabriola; color: whitesmoke; font-size: 20px; margin-top: 10px;"><span class="fa fa-user-md" style="color: #34a58e; font-size: 15px;"></span> Emergency Order</a></li>
                    <li class="dropdown">
                        <a href="#" onmouseover="    this.style.color = ' #34a58e'" onmouseout="    this.style.color = ' whitesmoke'" class="dropdown-toggle" data-toggle="dropdown" style=" font-family: Gabriola; color: whitesmoke; font-size: 20px; margin-top: 10px;"><span class="glyphicon glyphicon-user" style="color: #34a58e; font-size: 15px;"></span>Account<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="background-color: rgba(49, 50, 49, 0.9);">
                            <li><a href="#" style="color:white;">Setting</a></li>
                            <li><a href="#" style="color:white;">LogOut</a></li>

                        </ul>
                </ul>
            </div>
        </div>
    </div>

</nav>
<div class="main-wrapper">

    <div class="carousel slide" data-ride="carousel" id="main-carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
        </ol>
        <!-- Slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="width:100%;height:100%;">
                <img src="/images/slider2.jpg" />
            </div>
            <div class="item " style="width: 100%; height: 100%;">

                <img src="/images/slider5.jpg" />
            </div>
            <div class="item" style="width: 100%; height: 100%;">

                <img src="/images/slider3.jpg" />
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
            <span class="fa fa-arrow-left"></span>
        </a>
        <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
            <span class="fa fa-arrow-right"></span>
        </a>
    </div>
</div>


<script>
    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            url: "http://localhost:52257/api/MedList",
            dataType: 'json',
            success: function (data) {
                console.log(data);

                var str = " ";
                for (var i = 0; i < data.length; i++) {
             
                str += " <div id='wrapper' style ='margin-top:7%; margin-bottom:-90px; margin-left:20% ;'>";
                str += "<div id='main' style=' width:150%'>";
                str += "<div class='inner'>";
                str += "<section class='tiles'>";
                str += "<article class='style5'>";
                str += "<span class='image'>";
                str += "<img src='/images/pic08.jpg'/>";
                str += "</span>";
                str += "<a href='/User/MedList'>";
                str += "<h2><br />"+ data[i].StoreNames +"</h2>";   
                str += "<div class='content'>";
                str += "<p> " + data[i].ContactNo + " <br />" + data[i].StoreLocation + "<br /> "+ data[i].E_mail + " </p>";
                str += "</div>";
                str += "</a>";
                str += "</article>";
                str += "</section>";
                str += "</div>";
                str += "</div>";
                str += "</div>";
                
          
                }
                $('#med').html(str);
            },
            
            });
    });
</script>
<div class="row">
    <div class="col-xs-7">
        <div id="med">

        </div>
    </div>
    <div class="col-xs-5">
        

            <div class="hovereffect" style="margin-top:60px; width:70%">

                <img class="img-responsive" src="~/images/del7.jpg" />
                <div class="overlay">

                    <p style="margin-top:20%"> Taking medicines <br />regularly is a need of<br /> managing medical conditions, it's best not to run out of medicines. </p>
                </div>
            
        </div><br/>
        
        <div class=" hovereffect" style="margin-top: 40px; width: 70%">

                <img class=" img-responsive" src="~/images/del5.jpg" />
                <div class="overlay">
                    <p style="margin-top:13%">
                        <br />   We are <br />committed to provide safe, reliable and affordable medicines.
                    </p>

                </div>
           
        </div><br />
        
        <div class=" hovereffect" style="margin-top: 40px; width: 70%">

                <img class=" img-responsive" src="~/images/del3.jpg" />
                <div class="overlay">

                    <p style="margin-top:15%">
                        Here we not only <br />provide you with a wide range <br />of medicines,we also offer a wide choice<br /> of products.
                    </p>
                </div>
          
        </div><br />
       
        <div class=" hovereffect" style="margin-top: 40px; width: 70%">

                <img class=" img-responsive" src="~/images/del2.jpg" />
                <div class="overlay">
                    <p style="margin-top:13%">
                        <br />  Once you're a <br />Med-Deliver's customer, you'll get medicines at your comfort level.
                    </p>

                </div>
            
        </div>
    </div>
    </div>
<div style="height:100px;width:100%;margin-top:200px;">

</div><br /><br />