@{
    ViewBag.Title = "MedicalProfile";
    Layout = "~/Views/Shared/_LayoutMedicalStore.cshtml";
}

<div class="row">
    <div class="col-xs-12" style="height:80px; width:100%"></div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10" style="width: 75%; background-color: rgba(49, 50, 49, 0.97);margin-right:0">
        <h1>Profile</h1>
        <ul class="nav nav-tabs">
            
        </ul>
        <div class="container">
            <div class="tab-content">
                
                <div class="row">
                    <div class="col-xs-12">
                        <table style="margin-top: 10px; width: 86%; background-color: black">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        <img src="/images/profile.png" class="img-circle" style="width:26%;height:200px;margin-left:10%;margin-top:20px;" /><br />
                                        <button type="submit" style="background-color: rgba(49, 50, 49, 0.66); border-radius: 20px; margin-left: 16%; ">Change</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px;">First Name</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Last Name</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Contact No</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Alt Contact No</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Address</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">E-mail</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Password</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Occupation</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Date of Birth</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Gender</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td> <button type="submit" style="background-color: rgba(49, 50, 49, 0.66); margin-left: 70%;margin-bottom:40px;margin-top:30px;">Edit</button></td>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:100px;width:100%">

</div>
